[data-theme="light"] {
  --primary-color: rgb(74, 121, 151);
  --secondary-color: rgb(86, 149, 186);
  --tertiary-color: rgb(195, 216, 229);
  --blur: rgba(255, 255, 255, 0.064);
  --content: "🔆";
}

[data-theme="dark"] {
  --blur: #ffffff1b;
  --primary-color: rgb(25, 45, 57);
  --secondary-color: rgb(9, 31, 43);
  --tertiary-color: rgb(10, 22, 30);
  --content: "🌙";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  transition: all 0.2s;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background: linear-gradient(
    to right bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 54%,
    var(--tertiary-color) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body.dark {
  background-color: var(--primary-color);
  background: linear-gradient(
    to right bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 54%,
    var(--tertiary-color) 100%
  );
}

section {
  width: 100%;
  /* height: 35rem; */
  box-shadow: inset 0px 0px 30px #ffffff6f;
  border: 1px solid rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(100px);
  background-color:  var(--blur, #dbdbdb) ;
  border-radius: 9px;
  font-size: 1.2rem;
  padding: 3rem 2.4rem;
}

.blur-border {
  box-shadow: inset 0px 0px 30px #ffffff45;
  border: 1px solid rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(100px);
  background-color:  var(--blur, #dbdbdb);
  border-radius: 9px;
}

.container {
  width: 120rem;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4.8rem;
  align-content: center;
}

.current-weather {
  /* height: 74.8rem; */
  grid-row: span 2;
  display: flex;
  justify-content: center;
}

.forecast {
  grid-column: 2/ 4;
}

.search-box {
  overflow: hidden;
  padding: 0.8rem 1.6rem;
  width: 80%;
  align-self: center;
  border-radius: 999px;
  border: none;
  background-color: #ffffffb1;
  font-size: 1.4rem;
  font-family: inherit;
  color: #333;
}

.search-box:active,
.search-box:focus {
  outline: none;
}

.location-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.2rem;
}

.location-img {
  width: 3.2rem;
  height: 3.2rem;
  color: #ffffff;
}
.location-container {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: space-evenly;
}

.star {
  width: 2rem;
  height: 2rem;
  align-self: end;
  margin-bottom: 1rem;
}

.star:hover {
  cursor: pointer;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.temperature {
  display: flex;
  justify-content: center;
  align-self: end;
}

.weather-logo {
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}

.temperature-condition {
  grid-column: 2/-1;
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

.temperature-degree {
  font-size: 6rem;
}
.temperature-unit {
  display: inline-block;
  transform: translateY(-0.2rem);
}
.forecast-weather-details .temperature-unit {
  font-size: 2rem;
  transform: translateY(-0.5rem);
}

.temperature .temperature-unit {
  font-size: 4rem;
  transform: translateY(-0.8rem);
}

.condition-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.weather-conditions {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.6rem;
}

.wind-condition,
.precipitation-condition,
.uv-condition,
.feels-minmax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feels-minmax {
  justify-content: space-between;
}

.night-mode {
  position: absolute;
  top: 2%;
  width: 100%;
  left: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0px 0px 10px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: var(--content);
  font-size: 1.4rem;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ede8dc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c7285;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c7285;
}

.hour {
  font-weight: 700;
}

.hourly-img {
  width: 1.6rem;
  height: 1.6rem;
}

.hours-forecast {
  max-width: 37.7rem;
  position: relative;
  scroll-behavior: smooth;
}

.forecast-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.hourly-forecast {
  flex: 0 0 auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50px;
  background: none;
  padding: 0.4rem;
  color: #fff;
  text-align: center;
}

.btn:hover,
.btn:active {
  color: #0000005a;
  cursor: pointer;
}

.btn--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-3rem, -50%);
}

.btn--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(3rem, -50%);
}

.sunrise-sunset-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sunrise,
.sunset {
  width: 12rem;
  padding: 1rem 0;
  text-align: center;
}

.sun-title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.forecast {
  padding: 1.6rem 2.4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.daily-forecast {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}
.forecast-list-item {
  padding: 2rem 1.2rem;
}

.forecast-day {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.forecast-weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
.forecast-logo {
  width: 4.8rem;
  height: 4.8rem;
  justify-self: center;
  grid-row: span 2;
}

.forecast-temperature {
  justify-self: center;
}
.forecast-temperature-degree {
  font-size: 2.4rem;
  font-weight: 600;
}
.forecast-temperature-unit {
  font-size: 2rem;
  display: inline-block;
  transform: translateY(-0.5rem);
}
.forecast-temperature-condition {
  grid-column: 2/-1;
  font-size: 1.6rem;
  justify-self: center;
}

.forecast-condition-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.forecast-weather-conditions {
  display: flex;
  gap: 1.6rem;
  padding: 1rem;
  align-items: center;
}

.forecast-wind-condition,
.forecast-minmax,
.forecast-precipitation-condition,
.forecast-uv-condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.container-title {
  font-size: 2.4rem;
}

.forecast-weather-conditions p {
  font-size: 1rem;
}

.city-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.city-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
}

.star-city-conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.star-city-condition {
  grid-column: 2/-1;
  justify-content: center;
  align-self: center;
}

.star-weather {
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}

.star-title {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.star-city-condition {
  align-self: start;
  font-size: 1.3rem;
  font-weight: 600;
}

.star-city-degree {
  font-size: 2.4rem;
  align-self: end;
  justify-self: center;
  font-weight: 700;
}

.starred-cities {
  padding: 1.6rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.city-list {
  overflow-y: scroll;
  max-height: 17rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.star-container {
  width: 100%;
  position: relative;
}

.btn--up,
.btn--down {
  position: absolute;
}

.btn--up {
  top: 0;
  left: 50%;
  transform: translate(-50%, -3rem);
}

.btn--down {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 3rem);
}

.star-air {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 75em) {
  .night-mode {
    top: 1%;
  }
  .app-grid {
    gap: 3rem;
  }

  html {
    position: relative;
  }

  .container {
    width: 110rem;
    justify-content: center;
  }

  .switch {
    width: 5rem;
    height: 2.5rem;
  }

  .slider:before {
    height: 20px;
    width: 20px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
  }

  .slider:before {
    bottom: 3px;
  }
}

@media (max-width: 68em) {
  .city-list {
    gap: 2rem;
  }
  .star-title {
    font-size: 1.4rem;
  }
  .star-city-degree {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .star-city-condition {
    font-size: 1.2rem;
  }
  .star-weather {
    width: 3.6rem;
    height: 3.6rem;
  }
  .star-city-conditions {
    gap: 0.5rem;
  }
  .city-list-item {
    padding: 1rem 1.5rem;
  }
  .app-grid {
    gap: 2rem;
  }

  .container {
    width: 100rem;
  }
  .daily-forecast {
    gap: 2rem;
    max-height: 20rem;
  }

  .forecast-logo {
    width: 3.6rem;
    height: 3.6rem;
  }

  .forecast-day {
    font-size: 2rem;
  }
  .forecast-list-item {
    padding: 1rem 0.6rem;
  }

  .forecast-weather-conditions {
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 61em) {
  .app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
  .forecast {
    grid-column: 1 / -1;
  }

  .container {
    width: 80rem;
    margin: 2.4rem 0;
  }

  .daily-forecast {
    justify-content: space-evenly;
  }

  .btn--down {
    transform: translate(-50%, 3rem);
  }
  .btn--up {
    transform: translate(-50%, -3rem);
  }
}

@media (max-height: 44em) {
  .container {
    width: 95rem;
    margin: 2.4rem 0;
  }
}

@media (max-width: 50em) {
  .container {
    width: 60rem;
    gap: 2rem;
  }

  section {
    padding: 1.5rem 2rem;
  }
  .btn--down {
    transform: translate(-50%, 1rem);
  }

  .btn--up {
    transform: translate(-50%, -1rem);
  }

  .city-list-item {
    padding: 1rem 2rem;
  }

  .city-list {
    gap: 1.5rem;
  }

  .star-container {
    padding: 2rem 0;
  }
}

@media (max-width: 42em) {
  .container {
    width: 60rem;
    gap: 2.4rem;
  }
  html {
    font-size: 50%;
  }
  .switch {
    width: 6rem;
    height: 3rem;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(2.8rem);
    -ms-transform: translateX(2.8rem);
    transform: translateX(2.8rem);
  }
  .slider:before {
    bottom: 2px;
  }
}

@media (max-width: 35em) {
  .slider:before {
    bottom: 1.5px;
  }
  .switch {
    width: 7rem;
    height: 3.5rem;
  }
  .container {
    width: 50rem;
    gap: 2rem;
  }

  html {
    font-size: 40%;
  }
  .app-grid {
    grid-template-columns: 1fr 1fr;
  }

  .current-weather,
  .forecast {
    grid-column: span 2;
  }

  .forecast-weather-conditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .weather-logo {
    width: 9rem;
    height: 9rem;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 35%;
  }

  .city-list-item {
    padding: 1rem 2rem;
  }

  .weather-logo {
    width: 8rem;
    height: 8rem;
  }
}
