[data-theme="light"] {
  --primary-color: rgb(74, 121, 151);
  --secondary-color: rgb(86, 149, 186);
  --tertiary-color: rgb(195, 216, 229);
  --blur: rgba(255, 255, 255, 0.174);
  --content: "🔆";
}

[data-theme="dark"] {
  --blur: #ffffff1b;
  --primary-color: rgb(25, 45, 57);
  --secondary-color: rgb(9, 31, 43);
  --tertiary-color: rgb(10, 22, 30);
  --content: "🌙";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  transition: all 0.2s;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background: linear-gradient(
    to right bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 54%,
    var(--tertiary-color) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

section {
  width: 100%;
  height: 100%;
  /* height: 35rem; */
  border-radius: 9px;
  font-size: 1.2rem;
  padding: 3rem 2.4rem;
}

.err-text {
  align-self: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.blur-border {
  box-shadow: inset 0px 0px 30px #ffffff45;
  border: 1px solid rgba(255, 255, 255, 0.21);
  background-color: var(--blur);
  border-radius: 9px;
}

.container {
  width: 120rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4.8rem;
  align-content: center;
}

.current-weather {
  /* height: 74.8rem; */
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#markup-form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  gap: 1rem;
}

.search-btn {
  width: 3rem;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%2C0%2C256%2C256%22%3E%0A%3Cg%20transform%3D%22translate(51.2%2C51.2)%20scale(0.6%2C0.6)%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20stroke-miterlimit%3D%2210%22%20stroke-dasharray%3D%22%22%20stroke-dashoffset%3D%220%22%20font-family%3D%22none%22%20font-weight%3D%22none%22%20font-size%3D%22none%22%20text-anchor%3D%22none%22%20style%3D%22mix-blend-mode%3A%20normal%22%3E%3Cg%20transform%3D%22scale(5.33333%2C5.33333)%22%3E%3Cpath%20d%3D%22M20.5%2C6c-7.99037%2C0%20-14.5%2C6.50964%20-14.5%2C14.5c0%2C7.99036%206.50963%2C14.5%2014.5%2C14.5c3.45636%2C0%206.63371%2C-1.22096%209.12891%2C-3.25l9.81055%2C9.81055c0.37623%2C0.39185%200.9349%2C0.54969%201.46055%2C0.41265c0.52565%2C-0.13704%200.93616%2C-0.54754%201.07319%2C-1.07319c0.13704%2C-0.52565%20-0.0208%2C-1.08432%20-0.41265%2C-1.46055l-9.81055%2C-9.81055c2.02904%2C-2.4952%203.25%2C-5.67255%203.25%2C-9.12891c0%2C-7.99036%20-6.50963%2C-14.5%20-14.5%2C-14.5zM20.5%2C9c6.36905%2C0%2011.5%2C5.13096%2011.5%2C11.5c0%2C3.10261%20-1.2238%2C5.90572%20-3.20898%2C7.9707c-0.12237%2C0.08994%20-0.23037%2C0.19794%20-0.32031%2C0.32031c-2.06499%2C1.98518%20-4.86809%2C3.20898%20-7.9707%2C3.20898c-6.36905%2C0%20-11.5%2C-5.13096%20-11.5%2C-11.5c0%2C-6.36904%205.13095%2C-11.5%2011.5%2C-11.5z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #fff;
  background-color: var(--primary-color);
}

.search-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.forecast {
  grid-column: 2/ 4;
}

.search-box {
  overflow: hidden;
  padding: 0.8rem 1.6rem;
  width: 90%;
  align-self: center;
  border-radius: 999px;
  border: none;
  background-color: #ffffffb1;
  font-size: 1.4rem;
  font-family: inherit;
  color: #333;
}

.search-box:active,
.search-box:focus {
  outline: none;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -30vw 0
  }
  100% {
    background-position: 70vw 0
  }
}

.c-animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: fff;
  background: linear-gradient(to right, #eeeeee14 8%, #dddddd16 18%, #eeeeee1c 33%);
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 50px;
  -webkit-backface-visibility: hidden
}

.location-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.2rem;
}

.location-img {
  width: 3.2rem;
  height: 3.2rem;
  color: #ffffff;
}
.location-container {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: space-evenly;
  margin: auto 0;
}

/* .loader {
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #3498db; 
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
  animation: spin 2s linear infinite;
}

.loader-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loader-div span {
  font-size: 1.6rem;
  font-weight: bold;
} */

.star {
  width: 2rem;
  height: 2rem;
  align-self: end;
  margin-bottom: 1rem;
}

.star:hover {
  cursor: pointer;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.temperature {
  display: flex;
  justify-content: center;
  align-self: end;
}

.weather-logo {
  width: 8rem;
  height: 8rem;
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}

.temperature-condition {
  grid-column: 2/-1;
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

.temperature-degree {
  font-size: 6rem;
}
.temperature-unit {
  display: inline-block;
  transform: translateY(-0.2rem);
}
.forecast-weather-details .temperature-unit {
  font-size: 2rem;
  transform: translateY(-0.5rem);
}

.temperature .temperature-unit {
  font-size: 4rem;
  transform: translateY(-0.8rem);
}

.condition-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.weather-conditions {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.6rem;
}

.wind-condition,
.precipitation-condition,
.uv-condition,
.feels-minmax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feels-minmax {
  justify-content: space-between;
}

.night-mode {
  position: absolute;
  top: 2%;
  width: 100%;
  left: 0;
}

.forecast-list-item:hover{
  transform: scale(1.1);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0px 0px 10px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.slider:before {
  position: absolute;
  content: var(--content);
  font-size: 1.2rem;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ede8dc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c7285;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c7285;
}

.hour {
  font-weight: 700;
}

.hourly-img {
  width: 3.6rem;
  height: 3.6rem;
}

.hours-forecast {
  max-width: 37.7rem;
  position: relative;
  scroll-behavior: smooth;
  align-self: center;
}

.forecast-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.hourly-forecast {
  flex: 0 0 auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50px;
  background: none;
  padding: 0.4rem;
  color: #fff;
  text-align: center;
}

.btn:hover,
.btn:active {
  color: #0000005a;
  cursor: pointer;
}

.btn--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-3rem, -50%);
}

.btn--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(3rem, -50%);
}

.sunrise-sunset-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.sunrise,
.sunset {
  width: 12rem;
  padding: 1rem 0;
  text-align: center;
}

.sun-title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.forecast {
  padding: 1.6rem 2.4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.daily-forecast {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2.2rem;
  align-items: center;
}
.forecast-list-item {
  transition: all 0.2s;
  padding: 2rem 1.2rem;
  width: 40%;
}

.forecast-day {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.forecast-weather-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
.forecast-logo {
  width: 4.8rem;
  height: 4.8rem;
  justify-self: center;
  grid-row: span 2;
}

.forecast-temperature {
  justify-self: center;
}
.forecast-temperature-degree {
  font-size: 2.4rem;
  font-weight: 600;
}
.forecast-temperature-unit {
  font-size: 2rem;
  display: inline-block;
  transform: translateY(-0.5rem);
}
.forecast-temperature-condition {
  grid-column: 2/-1;
  font-size: 1.6rem;
  justify-self: center;
}

.forecast-condition-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.forecast-weather-conditions {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.forecast-wind-condition,
.forecast-minmax,
.forecast-precipitation-condition,
.forecast-uv-condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.container-title {
  font-size: 2.4rem;
}

.forecast-weather-conditions p {
  font-size: 1rem;
}

.city-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}
.star-text {
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
}

.city-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
  transition: all 0.2s;
}

.city-list-item:hover{
  cursor: pointer;
  transform: translateY(-2%);
}

.star-city-conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.star-city-condition {
  grid-column: 2/-1;
  justify-content: center;
  align-self: center;
}

.star-weather {
  grid-row: span 2;
  justify-self: center;
  align-self: center;
}

.star-title {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.star-city-condition {
  align-self: start;
  font-size: 1.3rem;
  font-weight: 600;
}

.star-city-degree {
  font-size: 2.4rem;
  align-self: end;
  justify-self: center;
  font-weight: 700;
}

.starred-cities {
  padding: 1.6rem 2.4rem;
  display: grid;
}
.city-list {
  overflow-y: scroll;
  max-height: 17rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.star-container {
  width: 100%;
}
.starred-cities {
  position: relative;
}

.btn--up,
.btn--down {
  position: absolute;
}

.btn--up {
  top: 0;
  left: 50%;
  transform: translate(-50%, 4rem);
}

.btn--down {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2rem);
}

.star-air {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 75em) {
  .night-mode {
    top: 1%;
  }
  .app-grid {
    gap: 3rem;
  }

  html {
    position: relative;
  }

  .container {
    width: 110rem;
    justify-content: center;
  }

  .switch {
    width: 5rem;
    height: 2.5rem;
  }

  .slider:before {
    height: 20px;
    width: 20px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
  }

  .slider:before {
    bottom: 3px;
  }
}

@media (max-width: 68em) {
  .city-list {
    gap: 2rem;
  }
  .star-title {
    font-size: 1.4rem;
  }
  .star-city-degree {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .star-city-condition {
    font-size: 1.2rem;
  }
  .star-weather {
    width: 3.6rem;
    height: 3.6rem;
  }
  .star-city-conditions {
    gap: 0.5rem;
  }
  .city-list-item {
    padding: 1rem 1.5rem;
  }
  .app-grid {
    gap: 2rem;
  }

  .container {
    width: 100rem;
  }
  .daily-forecast {
    gap: 2rem;
    max-height: 20rem;
  }

  .forecast-day {
    font-size: 2rem;
  }
  .forecast-list-item {
    padding: 1rem 0.6rem;
  }

  .forecast-weather-conditions {
    padding: 0.5rem;
  }
}

@media (max-width: 61em) {
  .app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
  .forecast {
    grid-column: 1 / -1;
  }

  .container {
    width: 80rem;
    margin: 4.8rem 0;
  }

  .daily-forecast {
    justify-content: space-evenly;
  }
}

@media (max-height: 44em) {
  .container {
    width: 95rem;
    margin: 2.4rem 0;
  }
}

@media (max-width: 50em) {
  .btn--down {
    transform: translate(-50%, -2rem);
  }

  .btn--up {
    transform: translate(-50%, 8rem);
  }
  .container {
    width: 60rem;
    gap: 2rem;
  }

  section {
    padding: 1.5rem 2rem;
  }

  .city-list-item {
    padding: 1rem 2rem;
  }

  .city-list {
    gap: 1.5rem;
  }

  .star-container {
    padding: 2rem 0;
  }
}

@media (max-width: 42em) {
  .container {
    width: 60rem;
    gap: 2.4rem;
  }
  html {
    font-size: 50%;
  }
  .switch {
    width: 6rem;
    height: 3rem;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(2.8rem);
    -ms-transform: translateX(2.8rem);
    transform: translateX(2.8rem);
  }
  .slider:before {
    bottom: 2px;
    font-size: 1.6rem;
  }
  .sunrise,
  .sunset {
    width: 9rem;
  }
}

@media (max-width: 35em) {
  .slider:before {
    bottom: 1.5px;
    font-size: 1.8rem;
  }

  .btn--down {
    transform: translate(-50%, 0rem);
  }

  .btn--up {
    transform: translate(-50%, 3.6rem);
  }

  .sunrise,
  .sunset {
    width: 15rem;
  }
  .switch {
    width: 7rem;
    height: 3.5rem;
  }
  .container {
    width: 50rem;
    gap: 2rem;

    margin: 6rem 0;
  }

  html {
    font-size: 40%;
  }
  .app-grid {
    grid-template-columns: 1fr 1fr;
  }

  .current-weather,
  .forecast {
    grid-column: span 2;
  }

  .forecast-weather-conditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .weather-logo {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 35%;
  }
  .slider:before {
    bottom: 0.5px;
    font-size: 1.8rem;
    left: 2px;
    height: 18px;
    width: 18px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
  }
  .city-list-item {
    padding: 1rem 2rem;
  }

  .weather-logo {
    width: 7rem;
    height: 7rem;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    bottom: 1.5px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(3.6rem);
    -ms-transform: translateX(3.6rem);
    transform: translateX(3.6rem);
  }

  .app-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .map,
  .starred-cities {
    grid-column: span 2;
  }
  .city-list-item {
    justify-content: space-between;
  }
  .star-city-conditions {
    column-gap: 4rem;
  }
}

@media (max-width: 18em) {
  html {
    font-size: 30%;
  }
  .slider:before {
    height: 15px;
    width: 15px;
    bottom: 1px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
  }
}
