

[data-theme="light"]{
  --primary-color: rgb(99, 176, 221);
  --secondary-color: rgb(80, 151, 192);
  --tertiary-color: rgb(174, 224, 255);
  --blur: rgba(0, 0, 0, 0.205);
}

[data-theme="dark"] {
  --blur: rgba(255, 255, 255, 0.075);
  --primary-color: rgb(25, 45, 57);
  --secondary-color: rgb(9, 31, 43);
  --tertiary-color: rgb(10, 22, 30);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  background: linear-gradient(
    to right bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 54%,
    var(--tertiary-color) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body.dark {
  background: #006ead;
  background: linear-gradient(
    to right bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 54%,
    var(--tertiary-color) 100%
  );
}

section {
  width: 100%;
  height: 30rem;
  box-shadow: inset 0px 0px 30px #ffffff27;
  border: 1px solid rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(100%);
  background-color: var(--blur);
  border-radius: 9px;
  font-size: 1.2rem;
}

.blur-border {
  box-shadow: inset 0px 0px 30px #ffffff27;
  border: 1px solid rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(100%);
  background-color: var(--blur);
  border-radius: 9px;
  padding: 1.6rem;
}

.container {
  width: 120rem;
}

.app-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 4.8rem;
}

.current-weather {
  height: 64.8rem;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}

.forecast {
  grid-column: 2/ 4;
}

.search-box {
  overflow: hidden;
  padding: 0.8rem 1.6rem;
  width: 80%;
  align-self: center;
  margin-top: 1.6rem;
  border-radius: 999px;
  border: none;
  background-color: #ffffffb1;
  font-size: 1.4rem;
  font-family: inherit;
  color: #333;
}

.search-box:active,
.search-box:focus {
  outline: none;
}

.location-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.location-img {
  width: 3.2rem;
  height: 3.2rem;
  color: #6600ff;
}
.location-container {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.star {
  width: 2.4rem;
  height: 2.4rem;
}

.star:hover {
  cursor: pointer;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.temperature {
  display: flex;
  justify-content: center;
}

.weather-logo {
  grid-row: span 2;
  justify-self: center;
}

.temperature-condition {
  grid-column: 2/-1;
  justify-self: center;
  font-size: 1.6rem;
}

.temperature-degree {
  font-size: 6rem;
}
.temperature-unit {
  font-size: 4rem;
  display: inline-block;
  transform: translateY(-1.6rem);
}

.condition-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.weather-conditions {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}

.wind-condition,
.precipitation-condition,
.uv-condition,
.feels-minmax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feels-minmax {
  justify-content: space-between;
}
